<!-- Navbar -->
<nav id="navbar" class="navbar fixed-bottom navbar-light bg-faded">
  <div id="container">
    <div id="pages">
      <a class="pages" href="/">Home</a>
      <a class="pages" href="/tech-gallery">Projects</a>
      <a class="pages" href="/contact-us">Contact Us</a>
      <a class="pages" href="/future">Future Plans</a>
    </div>
    <% if !session[:email] %>
      <form class="form-inline" method="POST" action="/tech-gallery">
        <div id="contact-us">contact us and sign in: </div>
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Password">
        <input id="nav-submit" value="Submit" type="submit">
      </form>
    <% else %>
      <div id="logDiv">
        <button id="logout">
          <a href="/logout">Logout</a>
        </button>
      </div>
    <% end %>
    
  </div>

</nav>


<h1>contact info:</h1>
<h3>Phone: Number <p>555-555-5555</p></h3>
<h3>Email: <p>coolio@hotmal.com</p></h3>
