<body id='body'>
	<div class="container">
	  <div class="row">
	    <div id='flex' class="col-sm-12">
	      <div id='move' class="row">
	        <div id='main-column' class="col-sm-6">
	            <h1 id='mistake'>
					We screwed up.
				</h1>
	            <div class="row">
	              <div id='nested-column' class="col">
	                <p id='heres-why'>The robots are taking over. We cant stop them. There are only 5 of us left and we only have minutes. If you are reading this you are only going to get one warning. <b>Run</b>. Get somewhere safe, far from any kind of technology. There is nothing we can do now except apologize.</p>
	              </div>
	            </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>