<!-- Navbar -->
<nav id="navbar" class="navbar fixed-bottom navbar-light bg-faded">
  <div id="container">
    <div id="pages">
      <a class="pages" href="/">Home</a>
      <a class="pages" href="/tech-gallery">Projects</a>
      <a class="pages" href="/contact-us">Contact Us</a>
      <a class="pages" href="/future">Future Plans</a>
    </div>
    <% if !session[:email] %>
      <form class="form-inline" method="POST" action="/">
        <div id="contact-us">Email us and sign in: </div>
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Password">
        <input id="nav-submit" value="Submit" type="submit">
      </form>
    <% else %>
      <div id="logDiv">
        <button id="logout">
          <a href="/logout">Logout</a>
        </button>
      </div>
    <% end %>
    
  </div>

</nav>



<h1 id="title">Welcome to Shepard Robotics</h1>
<div class="background-opacity">
  <p id="pull-in">Begin your journey below</p>
</div>
<p id='help'>please, help</p>






