body{
	background-image: url("../images/home-robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

#title{
	text-align: center;
	margin-top: 20px;
	color: skyblue;
	text-shadow: 3px 3px 3px black;

}

#pull-in{
	text-align: left;
	color: rgb(89, 40, 138);
	text-shadow: 2px 2px 2px white;
	margin-top: 20%;
	font-size: 150%;
	opacity: 1;
	margin-left: 10%;
}

#help{
	text-align: right;
	color: lightgrey;
	margin-top: 11%;
}

#thank-you{
	text-align: center;
	color: red;
	margin-top: 100px;
}