body{
	background-image: url("../images/home-robot.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

#title{
	text-align: center;
	margin-top: 50px;
	color: skyblue;
	text-shadow: 3px 3px 3px black;

}

#pull-in{
	text-align: center;
	margin-top: 50px;
	color: skyblue;
	text-shadow: 1.5px 1.5px 1.5px black;
	margin-top: 20px;

}
